body {
  background: #848dad;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.episode {
  width: calc((100% - 20px) / 3);
  text-align: center;
  margin: 0 0 10px;
  border: 1px solid black;
  background: #ececec;
}
.name {
  font-size: x-large;
  font-weight: bold;
}
.code {
  font-size: large;
}

#search-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search_item {
  width: 22%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.episode {
  border-radius: 5px;
}
.summary {
  display: table;
  text-align: start;
  margin: 2%;
}
.show-on-page {
  width: 100%;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 5px;
  background-color: #ececec;
}

.description {
  flex: 1;
  margin: 0 20px;
  display: flex;
}

.description p {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}

.info {
  list-style-type: none;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 150%;
  padding-left: 20px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
}
.select,
.search {
  margin: 8px;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  width: 90%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.link-to-episode {
  color: #800080;
  margin-left: 10px;
}
.link-to-episode:hover {
  color: #0d3ade;
  text-decoration: underline;
}

.displaynone {
  display: none;
}

.info-show {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#back_to_all_shows {
  margin: 8px;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.button_return_episodes {
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.description {
  display: flex;
  flex-direction: column;
}

/* .info li {
  display: flex;
}
 */
@media screen and (max-width: 850px) {
  #root {
    margin: auto;
  }
  .episode {
    width: calc((100% - 20px) / 2);
  }
  .search_item {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  .episode {
    width: 49%;
  }
  .search,
  .select,
  .search_item,
  #back_to_all_shows {
    width: 90%;
  }

  .description {
    flex-basis: 100%;
  }
  .description p {
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 550px) {
  .episode {
    width: 100%;
  }
  .info-show {
    flex-direction: column;
    width: 100%;
  }
  .link-to-episode {
    text-align: center;
    font-size: 1.5em;
    margin-left: 0;
  }

  .info-show .image {
    align-self: center;
  }

  .info-show .info {
    padding-left: auto;
  }
  .image {
    width: 80vw;
  }
}
