#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.episode {
  width: calc((100% - 20px) / 3);
  text-align: center;
  margin: 0 0 10px;
  border: 1px solid black;
  background: #ececec;
}
.name {
  font-size: x-large;
  font-weight: bold;
}
.code {
  font-size: large;
}
.image {
  width: auto;
}

#search_root {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.search_item {
  width: 22%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.episode {
  border-radius: 5px;
}
.summary {
  display: table;
  text-align: start;
  margin: 2%;
}
.show_on_page {
  width: 100vw;
}

.info_show {
  display: flex;
}

div.info {
  flex: 2;
  padding: 20px 20px 0px;
}

ul.info {
  list-style-type: none;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 300%;
}
.select,
.search {
  margin: 8px;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  max-width: 90%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.link-to-episode {
  color: #800080;
}
.link-to-episode:visited {
  color: #800080;
}
.link-to-episode:hover {
  color: #800000;
  text-decoration: underline;
}

.displaynone {
  display: none;
}

.info_show {
  display: flex;
  width: 90%;
}
@media screen and (max-width: 850px) {
  #root {
    margin: auto;
  }
  .episode {
    width: calc((100% - 20px) / 2);
  }
  .search_item {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
  }
  .image {
    max-width: 90%;
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@media screen and (max-width: 700px) {
  .episode {
    width: 49%;
  }
  .search,
  .search_item {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .episode {
    width: 100%;
  }
}
